.App {
  text-align: center;
}

.custom{
  background-color: crimson;
  color:bisque;
  min-height:60px;
}

.input-changed input{
  min-width: 400px;
  min-height: 30px;
  border-radius: 10px;
  outline:none;
  border: 1px solid rgba(0,0,0,200);
  box-shadow: none;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}